[submodule "src/ros2_crsf_receiver"]
	path = src/ros2_crsf_receiver
	url = https://github.com/AndreyTulyakov/ros2_crsf_receiver.git
[submodule "src/vesc"]
	path = src/vesc
	url = https://github.com/z1047941150/vesc.git
[submodule "src/ackermann_mux"]
	path = src/ackermann_mux
	url = https://github.com/z1047941150/ackermann_mux.git
[submodule "src/ros2_wheeltec_n100_imu"]
	path = src/ros2_wheeltec_n100_imu
	url = https://github.com/ZhihaoZhang0618/ros2_wheeltec_n100_imu.git
[submodule "FASTLIO2_ROS2"]
	path = src/FASTLIO2_ROS2
	url = https://github.com/liangheming/FASTLIO2_ROS2.git