[submodule "src/ros2_crsf_receiver"]
	path = src/ros2_crsf_receiver
	url = https://github.com/AndreyTulyakov/ros2_crsf_receiver.git
[submodule "src/vesc"]
	path = src/vesc
	url = https://github.com/z1047941150/vesc.git
[submodule "src/ackermann_mux"]
	path = src/ackermann_mux
	url = https://github.com/z1047941150/ackermann_mux.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/ros2_wheeltec_n100_imu"]
	path = src/ros2_wheeltec_n100_imu
	url = https://github.com/Livox-SDK/ros2_wheeltec_n100_imu.git
[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = https://github.com/Ericsii/FAST_LIO.git
